@font-face {
   font-family: 'PIXymbols Digit Clocks W90 Bd';
   font-display: swap;
   src: url('file:///C:/Users/SSMC/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-01-10_000325/fonts/PIXymbols%20Digit%20Clocks%20W90%20Bd/font.ttf');
}
