@font-face {
   font-family: 'PIXymbols Digit Clocks W90 Bd';
   font-display: swap;
   src: url('file:///C:/Users/DANANINI/Downloads/ddsolutions-gh-pages/ddsolutions-gh-pages/fonts/PIXymbols%20Digit%20Clocks%20W90%20Bd/font.ttf');
}
